/cikm20-web-page-segmentation-revisited-evaluation-framework-and-dataset.zip
/cikm20-web-page-segmentation-revisited-evaluation-framework-and-dataset-master.zip
/cikm20-web-page-segmentation-revisited-evaluation-framework-and-dataset/
/cikm20-web-page-segmentation-revisited-evaluation-framework-and-dataset-master/
/master.zip
/cikm20/
/webis-webseg-20-000000.zip
/webis-webseg-20-000000/
/webis-webseg-20/
/webis-webseg-20-algorithm-segmentations-final/
webis-web-archive-17-000000.zip
webis-web-archive-17-000000/
webis-web-archive-17/
/segmentations/
/results/
